.container {
    display: grid; 
    grid-template-columns: 2fr 100px 1fr;
    row-gap: 10px;
    column-gap: 15px;

}

body {
    margin: 0;
}

.box {
    height: 100px;
    background: red;
    border: 1px solid black;
}