@font-face {
    font-family: 'Corporate A Pro';
    src: url('./fonts/CorporateAPro-Regular.woff2') format('woff2'),
        url('./fonts/CorporateAPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

