* {
  box-sizing: border-box;  
}

body {
    margin: 0;
}

.header {
height: 89px;
width: 1440px;
background: #590BFF;
;
}
@font-face {
    font-family: 'Dihjauti S';
    src: url('DihjautiS-Italic.woff2') format('woff2'),
        url('DihjautiS-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    font-size: 54px;
}