* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    color: rgba(106, 48, 15, 1);
    font-style: normal;
    font-family: 'Inter';
    margin-top: -10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.numform {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 2px 4px 2px 0px rgb(15, 106, 88);
    font-family: 'Inter';
    font-size: 14px;
}

.num {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgba(13, 102, 92, 1);
}

.numinput {
    border-radius: 10px;
    background-color: rgba(aliceblue, 1);
    color: #000000;
    font-weight: bold;
    padding: 2px;
}

.sumresult {
    margin-top: 20px;
    border-radius: 10px;
    color: rgb(13, 102, 92, 1);
}

.sumresult__case {
    width: 212.74px;
}

.sumresult {
    margin-top: 70px;
}