body {
    background-color: #929f93;
    }


button {
  margin-left: 150px;
}
  .product {
  }
  .image {
    display: block;
    margin-bottom: 10px;
    .info h3 {
      font-size: 17px;
      margin-bottom: 0;
      width: 250;
      height: 450;
    }
  }
  .image img {
    border-radius: 25px;
    object-fit: cover;
  }
  .info {
    width: 250;
    height: 105;
  }
  .col-md-4 {
    width: 548;
    height: 548;
  }
  .rating {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
  }
  .rating li {
    display: inline-block;
    color: yellow;
  }
  .cost {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    margin right: 100px;
    justify-content: left;
  }
  .add-to-cart {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .discription {
    text-align: justify;
  }
  @font-face {
    font-family: 'Corporate A Pro Demi';
    src: url('CorporateAPro-Demi.eot');
    src: local('Corporate A Pro Demi'), local('CorporateAPro-Demi'),
        url('CorporateAPro-Demi.eot?#iefix') format('embedded-opentype'),
        url('CorporateAPro-Demi.woff2') format('woff2'),
        url('CorporateAPro-Demi.woff') format('woff'),
        url('CorporateAPro-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}